input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    /* position:absolute; */
    background-color: #036efa;
    color: white;
    padding: 12px 18px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
   .container {
      position:fixed;

    margin:15%;

    padding: 14px;
    padding-left:8%;
   }
 